@CHARSET "UTF-8";

body {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	font-weight: normal;
}

h1 {
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 15px;
	font-weight: 500
}

header {
	padding: 5px 0px;
	margin-bottom: 20px;
	height: 40px;
	background-color: #545454;
	color: #fff;
	box-shadow: 0px 2px 2px #ccc;
}

header > div{
	margin-left: 5px
}

#conteudo {
	padding: 0px 8px
}

footer {
	border-top: 1px solid #ccc;
	padding: 5px 8px;
	margin-top: 20px;
	color: #fff;
	bottom: 0px;
	background-color: #545454;
	margin-bottom: 10px
}

.menu-sistema {
	border: 0px !important;
	padding: 0px !important;
	background: none !important;
}

.menu-sistema .ui-menu-parent > .ui-menuitem-text, .menu-sistema > .ui-menu-list > .ui-menuitem > a > .ui-menuitem-text {
	color: #fff !important;
}

.menu-sistema .ui-icon-triangle-1-s{
	background: url(#{resource['imagens:seta-para-baixo.png']}) no-repeat;
}

.produto-tabela input {
	width: 99%;
}

#login-dialog{
	width: 290px;
	margin: auto;
	margin-top: 150px;
}

.grid-login{
	background-color: #e3e3e3;
	border-radius: 8px;
	border: 1px solid #8f8f8f;
	margin-top: 8px;
	padding: 10px;
}

.ajax-status {
	position: fixed;
	top: 55px;
	right: 10px;
	width: 35px;
	height: 35px
}

.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled{
	opacity: .90;
	background-color: #e1e1e1 !important;
}

#painel-importacao{
	width: 90%;
	margin: auto;
	margin-top: 30px;
}

.grid-importacao{
	border-radius: 8px;
	margin-top: 8px;
	margin-left: 12px;
	margin-right: 12px;
	padding: 35px 35px 35px 35px;
	font-size: 20px;
}

.grid-importacao-pendente{
	background-color: #fbf8ca;
	border: 1px solid #ff8000;
}

.grid-importacao-erro{
	background-color: #fddfe0;
	border: 1px solid #ff0000;
}

.grid-importacao-ok{
	background-color: #dddeff;
	border: 1px solid #0000ff;
}

.grid-importacao-corrigido{
	background-color: #deffd9;
	border: 1px solid #008000;
}